.hidden {
	display: none;
}

.dot {
    display: inline-block;
    width:12px;height:12px;
    border-radius:6px;
    background-color:#8999A6;
}
.header {
    display: inline-block;
    border-radius:6px;
    background-color:#8999A6;
}

.active {
    background-color: white;
}

#olmap{
    height: 100%;
    width: 100%;
}

.normal-text {
	margin-left: 10px;
	font-weight: bold; 
}

.form-text {
	font-weight: bold; 
}

.small-text {
	margin-left: 10px;
	font-size: 0.75em; 
}

img.profile {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto 
}



td.details {
    padding: 5px;
}

td.top {
	vertical-align: top;
}

